body{
	background: url('../img/bg_tile.png') repeat fixed;
	font-family: 'Chicago', sans-serif;
	font-size: 11px;
}

.container{
	width: 960px;
	margin: 0 auto;
}

a{
	text-decoration: none;	
}

header{
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background-color: #000;
	line-height: 19px;
	z-index: 999;
	position: relative;
	display: block;
}

header>.container{
	width: 100%;
	height: 19px;
	line-height: 19px;
	font-size: 11px;
	font-family: 'Chicago', sans-serif;
	margin: 0;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

header img.icon{
	height: 19px;
	width: 19px;
	vertical-align: middle;
}

header .menu{
	float: left;
	margin: 0 7px;
}

header .menu.right{
	float: right;	
}

header .menu ul{
	padding: 0;
	margin: 0;
}

header .menu li{
	display: inline-block;
}

header .menu li>a{
	color: #000;	
	padding: 0 7px;
}

header .menu li.disabled a{
	color: #848484;	
}

/* Desktop with icons, etc. */
.desktop{
	display: block;
	padding: 25px 10px;
}

.desktop>.icon{
	display: block;
	float: right;
	clear: both;
	text-align: center;
	margin-bottom: 20px; /* TODO: delete this, will be overidden */
}

.desktop>.icon .icon-selected{
	display: none;	
}

.desktop>.icon:hover .icon-selected{
	display: inline;
}

.desktop>.icon:hover .icon-main{
	display: none;	
}

.desktop>.icon span.caption{
	display: block;
	padding: 0 2px;
	height: 13px;
	line-height: 12px;
	font-size: 11px;
	font-weight: 400;
	background-color: #fff;
	overflow: hidden;
}

/* Windows (nope, not an OS) */
.window{
	display: none;
	position: fixed;
	border: 1px solid #525252;
	border-right-width: 2px;
	border-bottom-width: 2px;
	background-color: #fff;
	/* Default size & position - will be overidden */
	top: 50px;
	left: 30px;
	width: 300px;
	height: 120px;
}

.window.window-focus{
	background: url('../img/window_titlebg.png') repeat-x #fff;
	border-color: #000;
}

.window>.window-title{
	display: block;
	height: 17px;
	line-height: 17px;
	text-align: center;
	padding: 0 6px;
	border-bottom: 1px solid #000;
	color: #848484;
}

.window.window-focus>.window-title{
	border-left: 1px solid #ceceff;
	border-right: 1px solid #ceceff;
	color: #000;
}

.window.window-focus>.window-title>span.title{
	padding: 0 7px;
	background-color: #efefef;
}

.window.window-focus>.window-title>a{
	padding: 0 1px;
	height: 11px;
	width: 11px;
	margin-top: 3px;
	background-color: #efefef;
	position: relative;
}

.window.window-focus>.window-title>a.btn-close{
	float: left;
}

.window.window-focus>.window-title>a.btn-close:after{
	background: url('../img/window_btn_close.png') no-repeat #efefef;
	display: block;
	position: absolute;
	width: 11px;
	height: 11px;
	left: 1px;
	content: " ";
}

.window.window-focus>.window-title>a.btn-maximize{
	float: right;
}

.window.window-focus>.window-title>a.btn-maximize:after{
	background: url('../img/window_btn_maximize.png') no-repeat #efefef;
	display: block;
	position: absolute;
	width: 11px;
	height: 11px;
	left: 1px;
	content: " ";
}

@font-face {
  font-family: 'Chicago';
  src: url('../fonts/ChicagoFLF.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/ChicagoFLF.ttf')  format('truetype');
}